<%= form_for (@question) ,class: "col s12" do |f| %>
      <div class= row>
        <div class="input-field col s8">
          <i class="material-icons prefix">live_help</i>
          <%= f.label :質問項目 %><br>
          <%= f.text_area :text, id: "textarea1", class: "materialize-textarea" %>
        </div>
        <div class="input-field col s4">
          <%= f.label :ウェイト %><br>
          <%= f.select :weight,{"1": 1,"2": 2,"3": 3} %>
        </div>
      </div>

  <%= f.fields_for :question_alternatives do |fb| %>
    <div class="row">
      <div class="input-field col s8">
        <%= fb.label :選択肢 %><br>
        <%= fb.text_field :text, id: "question_alternative", class: "materialize-textarea" %>
      </div>
      <div class="input-field col s4">
        <%= fb.label :評価尺度 %><br>
        <%= fb.select :rate,{"0": 0,"1": 1,"2": 2,"3": 3,"4": 4} %>
      </div>
    </div>
  <% end %>
    <div class="actions right-align">
      <%= f.submit "登録" ,:class=>"btn btn-large btn-question waves-effect waves-light" %>
    </div>
<% end %>
