<%= form_for @question ,class: "col s12" do |f| %>
  <div class="row">
    <form class="col s12">
      <div class= row>
        <div class="input-field col s12">
          <%= f.text_area :text, id: "textarea1", class: "materialize-textarea" %>
          <%= f.label :質問項目 %><br>
        </div>
      </div>
  <%= f.fields_for :question_alternatives do |fb| %>
    <div class="row">
      <div class="input-field col s8">
        <%= fb.label :選択肢 %><br>
        <%= fb.text_field :text, id: "question_alternative", class: "materialize-textarea" %>
      </div>
      <div class="input-field col s4">
        <%= fb.label :評価尺度 %><br>
        <%= fb.select :rate,{"0": 0,"1": 1,"2": 2,"3": 3,"4": 4} %>
      </div>
    </div>
  <% end %>
    </form>
</div>

    <div class="actions right-align">
      <%= f.submit "登録" ,:class=>"btn btn-large btn-question waves-effect waves-light" %>
    </div>
<% end %>
