<%= form_for (@question) ,class: "col s12" do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
       <h4><%= @question.errors.size %> 件のエラーがあります</h4>
      <ul>
      <% @question.errors.full_messages.each  do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= row>
    <div class="input-field col s8">
      <i class="material-icons prefix">live_help</i>
      <%= f.label :質問項目 %><br>
      <%= f.text_area :text, id: "textarea1", class: "materialize-textarea" %>
    </div>
    <div class="input-field col s4">
      <%= f.label :ウェイト %><br>
      <%= f.select :weight,{"1": 1,"2": 2,"3": 3} %>
    </div>
  </div>

  <!-- 選択肢登録部分 -->
  <%= f.fields_for :question_alternatives do |alternatives_form| %>
    <div class="row">
      <div class="input-field col s8">
        <%= alternatives_form.label :選択肢 %><br>
        <%= alternatives_form.text_field :text, id: "question_alternative", class: "materialize-textarea" %>
      </div>
      <div class="input-field col s4">
        <%= alternatives_form.label :評価尺度 %><br>
        <%= alternatives_form.select :rate,{"0": 0,"1": 1,"2": 2,"3": 3,"4":4} %>
      </div>
    </div>
  <% end %>
    <!-- 選択肢登録部分ここまで -->

    <!-- grade 登録部分 -->
      <div class="question_grade_regist center-align">
        <div class="grade_head row">
          <div class="col s3">
            追加チェック
          </div>
          <div class="col s6">
            部門名
          </div>
          <div class="col s3">
            等級
          </div>
        </div>
      <%= f.collection_check_boxes(:grade_ids, Grade.all, :id, :rank) do |graded| %>
      <div class="row">
        <%= graded.label(class: "/Users/fukuei/projects/pep/vendor/bundle/ruby/2.3.0/gems/materialize-sass-0.100.2/app/assets/stylesheets/materialize/components/forms/_checkboxes.scss */
") do %>
        <div class="col s3">
          <%= graded.check_box(class: "question_grade_regist") %>
        </div>
        <div class="col s6">
          <%= graded.object.department.name %>
        </div>
        <div class="col s3">
          <%= graded.object.rank %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <!-- grade 登録部分ここまで -->
  <div class="actions right-align">
    <%= f.submit "登録" ,:class=>"btn btn-large btn-question waves-effect waves-light" %>
  </div>

<% end %>
