  <div class="page-title">
    <h3>質問一覧</h3>
  </div>
  <div class="actions right-align">
  <a href="/questions/new" class="btn question-link waves-effect waves-light"><i class="material-icons">add</i></a>
  </div>
<ul class="pagination">
  <%= paginate @questions %>
</ul>
  <div class="contents row questions-table ">
    <table class="bordered">
      <tbody>
      <% @questions.each do |question|%>
        <tr>
          <td class="questionindex-text">
            <%= link_to "#{question.text}", edit_question_path(question)%>
            &nbsp;&nbsp;
            ウェイト&nbsp;:&nbsp;<%=question.weight %>
          </td>
          <td>
            <%= link_to '消去', question_path(question), method: :delete, data: { confirm: '本当に消去しますか?' } %>
          </td>
        </tr>
      <tr>
        <td colspan="2">
          <% question.grades.each do |grade|%>
            ・<%= grade.department.name %>&nbsp;<%= grade.rank %>&nbsp;等級 <br>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<ul class="pagination">
  <%= paginate @questions %>
</ul>
