<%= form_for @user ,class: "col s12" do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
       <h4><%= @user.errors.size %> 件のエラーがあります</h4>
      <ul>
      <% @user.errors.full_messages.each  do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- ここからフォーム -->
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <%= f.label :メールアドレス %><br>
      <%= f.text_field :email, id: "email", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <%= f.label :パスワード %><br>
      <%= f.password_field :password, id: "password", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <%= f.label :パスワード（確認）%><br>
      <%= f.password_field :password_confirmation, id: "password", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <%= f.label :氏名 %><br>
      <%= f.text_field :name, id: "name", class: "register-form"%>
    </div>
  </div>
  <div class="row">
  <!-- セレクトボックス(role登録) -->
    <div class="input-field col s4">
      <i class="material-icons prefix">folder</i>
      <%= f.label :区分 %><br>
      <%= f.select :role,{"一般":"nomal","課長/次長":"manager","部長":"executive","管理者":"admin"} %>
    </div>
  <!-- セレクトボックス(grade選択) -->
    <div class="input-field col s4">
      <%= f.label :部署_等級 %><br>
      <%= f.grouped_collection_select(:grade_id,Department.all, :grades, :name,:id, :rank, :prompt => "選択してください") %>
      <!-- f.grouped_collection_select(プロパティ名, オブジェクトの配列, タグを取得するメソッド, タグのラベル, valueの項目, テキストの項目 [, オプション]) -->
    </div>
  <!-- セレクトボックス(上長登録) -->
    <div class="input-field col s4">
      <%= f.label :上長 %><br>
      <%=f.select :superior_id, @superiors.map{|t| [t.name, t.id]}, :include_blank => true %>
    </div>

  <!-- ここまで -->
  </div>
  <div class="actions">
    <div class="register right-align">
      <%= f.submit '登録', :class=>"btn btn-large btn-register waves-effect waves-light" %>
    </div>
  </div>

<% end %>

