<%= form_for (@user) ,class: "col s12" do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
       <h4><%= @user.errors.size %> 件のエラーがあります</h4>

      <ul>
      <% @user.errors.full_messages.each  do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- ここからフォーム -->
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :メールアドレス %><br>
      <%= f.text_field :email, id: "email", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :パスワード %><br>
      <%= f.password_field :password, id: "password", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :パスワード（確認）%><br>
      <%= f.password_field :password_confirmation, id: "password", class: "register-form" %>
    </div>
  </div>

  <!-- チェックボックス -->
  <div class="row">
    <div class="input-field col s12">
    <%= f.label :上長 %><br>
   <%= f.select :role, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]],  :prompt => "選択してください", class: "register-form" %>
    </div>
  </div>
  <!-- ここまで -->
  <div class="actions">
    <%= f.submit '登録', class: 'btn btn-register' %>
  </div>


<% end %>
