<%= form_for (@user) ,class: "col s12" do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
       <h4><%= @user.errors.size %> 件のエラーがあります</h4>

      <ul>
      <% @user.errors.full_messages.each  do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- ここからフォーム -->
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :メールアドレス %><br>
      <%= f.text_field :email, id: "email", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :パスワード %><br>
      <%= f.password_field :password, id: "password", class: "register-form"%>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :パスワード（確認）%><br>
      <%= f.password_field :password_confirmation, id: "password", class: "register-form" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :氏名 %><br>
      <%= f.text_field :name, id: "name", class: "register-form"%>
    </div>
  </div>
  <div class="row">
  <!-- セレクトボックス(role登録) -->
    <div class="input-field col s6">
      <%= f.label :区分 %><br>
      <%= f.select :role,{"一般":"nomal","課長/次長":"manager","部長":"executive","管理者":"admin"} %>
    </div>
  <!-- セレクトボックス(上長登録) -->
    <div class="input-field col s6">
      <%= f.label :上長 %><br>
      <%= f.select :superior_id, @superiors.map{|t| [t.name, t.id]} , :prompt => "上長を選択してください" %>
    </div>
  <!-- ここまで -->
  </div>
  <div class="actions">
    <div class="register right-align">
      <%= f.submit '登録', :class=>"btn btn-large btn-register" %>
    </div>
  </div>

<% end %>

