
  <!-- <p id="notice"><%= notice %></p> -->

  <h3>ユーザーリスト</h3>

  <table class="striped">
    <thead>
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
        <!-- <th>password</th> -->
       <!--  <th>Salt</th> -->
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <!-- <td><%= user.crypted_password %></td> -->
          <!-- <td><%= user.salt %></td> -->
          <td><%= link_to '詳細', user_path(user) %></td>
          <td><%= link_to '編集', edit_user_path(user) %></td>
          <td><%= link_to 'ユーザー消去', user_path(user), method: :delete, data: { confirm: '本当に消去しますか?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

      <div class=" btn btn-menu  ">
        <%= link_to 'ユーザー登録', new_user_path, class: "link" %>
      </div>
      <div class=" btn btn-menu ">
        <%= link_to '質問項目登録', new_question_path, method: :get %>
      </div>
      <div class=" btn btn-menu ">
        <%= link_to '質問項目一覧', questions_path %>
      </div>


  <!-- <a class="waves-effect waves-light btn">button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a> -->



