<div class="page-title">
  <h3>評価結果</h3>
</div>
<div class="table-title center-align">
  <%=current_user.superior_user.name %> さんからの評価
</div>
<table class="bordered highlight answer_table">
  <tbody >
    <% @answers.each_with_index do |answer,i| %>
      <tr>
        <td class="question-text" ><%= "#{i+1}" %> ： <%= answer.question.text %></td>
      </tr>
      <tr>
        <td class="question_alternative-text">
          評価ポイント：<%= answer.rate %> &emsp; <%= @question_alternative.text %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
