<div class="page-title">
  <h3>評価結果</h3>
</div>
<div class="table-title center-align">
  <% if current_user.nomal? %>
    <%= current_user.superior_user.name %> さんからの評価
  <% elsif current_user.manager?%>
    <%= @subordinate.name %> さんへの評価
  <% elsif current_user.executive? %>
    <%= @subordinate.name %> さんへの評価
  <% elsif current_user.admin? %>
    <%= @answering_user.name %> さんから<br>
    <%= @answered_user.name %> さんへの評価
  <% end %>
</div>
  <table class="bordered highlight answer_table">
    <tbody>
      <% array = [] %>
      <% @answers.each_with_index do |answer,i| %>
        <tr>
          <td colspan="2" class="question-text">
            <%= "#{i + 1}" %> ： <%= answer.question.text %>
          </td>
        </tr>
        <tr>
          <td class="question_alternative-rate">
            評価ポイント：<%= answer.rate %>
          </td>
          <td>
            <% question_alternative = QuestionAlternative.find_by(question_id: answer.question_id,rate: answer.rate)%>
            <%= question_alternative.text %>
          </td>
        </tr>
          <% rate_weight = answer.rate * answer.question.weight%>
          <% array << rate_weight %>
      <% end %>
        <tr class="rate_weight_sum">
          <td colspan="2">合計(×ウェイト) = <%= array.sum %></td>
        </tr>
    </tbody>
  </table>
