<div class="page-title">
  <h3>評価結果</h3>
</div>

<div class="self-answer-table center-align">
  <% if @user.grade.present? && current_user.executive? || @user.grade.present? && current_user.manager? || @user.grade.present? && current_user.admin? || current_user.grade.present? && current_user.normal?%>
    <%= @self_answers[1].period.title %>&nbsp;&nbsp;
    <%= @user.grade.department.name %>
    <%= @user.grade.rank%> 等級 <br>
  <% else %>
  <% end %>
  <% if current_user.normal? %>
    <%= current_user.name %> さんの自己評価
  <% elsif current_user.manager? || current_user.executive? || current_user.admin? %>
    <%= @user.name %> さんの自己評価
  <% end%>
</div>

  <table class="bordered highlight answer_table">
    <tbody>
      <% array = [] %>
      <% @self_answers.each_with_index do |self_answer,i| %>
        <tr>
          <td colspan="2" class="question-text">
            <%= "#{i + 1}" %> ： <%= self_answer.question.text %>
          </td>
        </tr>
        <tr class="question_alternative-text">
            <% question_alternative = QuestionAlternative.find_by(question_id: self_answer.question_id,rate: self_answer.rate)%>
            <% answer_id = Answer.where(answering_user_id: @user.id, answered_user_id: @user.id).find_by(question_id: self_answer.question_id) %>
          <td colspan="2">
            <% if current_user.id == @user.id %>
              <%= link_to "#{question_alternative.text}","/answers/edit/#{@user.id}/#{self_answer.id}" %>
            <% else %>
              <%= question_alternative.text %>
            <% end %>
          </td>
        </tr>
          <% rate_weight = self_answer.rate * self_answer.question.weight%>
          <% array << rate_weight %>
      <% end %>
        <tr class="rate_weight_sum">
          <td colspan="2">合計(×ウェイト) = <%= array.sum %></td>
        </tr>
    </tbody>
  </table>


<% if current_user.executive? && current_user.id != @user.id || current_user.manager? && current_user.id != @user.id %>
<div class="superior-answer-table center-align">
  <% if current_user.normal? %>
    <%= current_user.superior_user.name %> さんからの評価
  <% elsif current_user.manager?%>
    <%= current_user.name %> さんから<br>
    <%= @user.name %> さんへの評価
  <% elsif current_user.executive? %>
    <%= current_user.name %> さんから<br>
    <%= @user.name %> さんへの評価
  <% elsif current_user.admin? %>
    <%= @answering_user.name %> さんから<br>
    <%= @answered_user.name %> さんへの評価
  <% end %>
</div>
  <table class="bordered highlight answer_table">
    <tbody>
      <% array = [] %>
      <% @answers.each_with_index do |answer,i| %>
        <tr>
          <td colspan="2" class="question-text">
            <%= "#{i + 1}" %> ： <%= answer.question.text %>
          </td>
        </tr>
        <tr class="question_alternative-text">
            <% question_alternative = QuestionAlternative.find_by(question_id: answer.question_id,rate: answer.rate)%>
          <td colspan="2">
            <% if current_user.id == @user.superior_user.id %>
              <%= link_to "#{question_alternative.text}","/answers/edit/#{@user.id}/#{answer.id}" %>
            <% else %>
              <%= question_alternative.text %>
            <% end %>
          </td>
        </tr>
          <% rate_weight = answer.rate * answer.question.weight%>
          <% array << rate_weight %>
      <% end %>
        <tr class="rate_weight_sum">
          <td colspan="2">合計(×ウェイト) = <%= array.sum %></td>
        </tr>
    </tbody>
  </table>
<% end %>
