<div class="page-title">
  <h3>評価結果</h3>
</div>
<div class="table-title center-align">
  <% if current_user.nomal? %>
    <%= current_user.superior_user.name %> さんからの評価
  <% elsif current_user.manager?%>
    <%= @subordinate.name %> さんへの評価
  <% elsif current_user.executive? %>
    <%= @subordinate.name %> さんへの評価
  <% elsif current_user.admin? %>
    <%= @answering_user.name %> さんから<br>
    <%= @answered_user.name %> さんへの評価
  <% end %>
</div>
  <table class="bordered highlight answer_table">
    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td class="question-text"><%= answer.question_id %></td>
          <td class="question-text"><%= answer.question.text %></td>
        </tr>
        <tr>
          <td>評価ポイント：<%= answer.rate %></td>
          <td class="question_alternative-text">
            <%= @question_alternative.text %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
