

  <p>
    <strong>メールアドレス:</strong>
    <%= @user.email %>
  </p>
  <!--
  <p>
    <strong>Crypted password:</strong>
    <%= @user.password %>
  </p> -->

  <!-- <p>
    <strong>Salt:</strong>
    <%= @user.salt %>
  </p> -->
<!--
    <div class="bottom-link">
      <div class="row">
        <%= link_to '編集', edit_user_path(@user) %>
        <%= link_to '戻る', users_path %>
      </div>
    </div>
 -->
