<div class="page-title">
  <h3>評価投稿</h3>
</div>

<% if current_user.manager? && @self_answers.present? || current_user.executive? && @self_answers.present? %>

<div class="self-answer-table center-align">
  <% period = Period.find(params[:period_id]) %>
  <%= period.title %> <br>
  <%= @user.name %>&nbsp;さんの自己評価
</div>

  <table class="bordered highlight answer_table">
    <tbody>
      <% array = [] %>
      <% @self_answers.each_with_index do |self_answer,i| %>
        <tr>
          <td colspan="2" class="question-text">
            <%= "#{i + 1}" %> ： <%= self_answer.question.text %>
          </td>
        </tr>
        <tr class="question_alternative-text">
            <% question_alternative = QuestionAlternative.find_by(question_id: self_answer.question_id,rate: self_answer.rate)%>
          <td colspan="2">
              <%= question_alternative.text %>
          </td>
        </tr>
          <% rate_weight = self_answer.rate * self_answer.question.weight%>
          <% array << rate_weight %>
      <% end %>
        <tr class="rate_weight_sum">
          <td colspan="2">合計(×ウェイト) = <%= array.sum %></td>
        </tr>
    </tbody>
  </table>

<div class="self-answer-table center-align">
  <%= @user.name %> さんへの評価
</div>
<%= render 'form' %>

<% else %>

<%= render 'form' %>


<% end %>
