<%= form_tag user_sessions_path, method: :post do %>
  <div class="input-field col s12">
    <%= label_tag :メールアドレス %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="input-field col s12">
    <%= label_tag :パスワード %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" , class: 'btn btn-login' %>
  </div>
<% end %>
