<%= form_tag user_sessions_path, method: :post ,class: "col s12" do %>
  <div class="row">
    <div class="input-field col s12">
      <%= label_tag :メールアドレス %><br>
      <%= text_field_tag :email, "", class: "login-form" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= label_tag :パスワード %><br>
      <%= password_field_tag :password, "", class: "login-form" %>
    </div>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" , class: 'btn btn-login' %>
  </div>
<% end %>



