<div class="page-title">
  <h3>業績評価一覧</h3>
</div>
<div class="actions right-align">
  <%= link_to "高砂", 'performances/department/takasago' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <%= link_to "石巻", 'performances/department/ishinomaki' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <%= link_to "飼料", 'performances/department/shiryo' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <%= link_to "本社", 'performances/department/honsya' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <%= link_to "東京", 'performances/department/tokyo' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <%= link_to "北日本", 'performances/department/kita' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <%= link_to "事務・専門職", 'performances/department/jimu_senmon' ,{ :class => "btn question-link waves-effect waves-light" } %>
  <a href="/performances/new" class="btn question-link waves-effect waves-light"><i class="material-icons">add</i></a>

</div>
<div class="contents row questions-table ">
    <table class="bordered highlight">
      <tbody>
      <% @performances.each do |performance|%>
        <tr>
          <td class="questionindex-text">
            <%= link_to "#{performance.item}", edit_performance_path(performance)%>
          </td>
          <td>
            ウェイト&nbsp;:&nbsp;<%=performance.weight %>
          </td>
          <td>
            <%= performance.grade.department.name%>
            <%= performance.grade.rank %>等級
          </td>
          <td>
            <%= link_to '消去', performance_path(performance), method: :delete, data: { confirm: '本当に消去しますか?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
