<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Fukuei-Personnel evaluation program-</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>
    <header>
      <nav>
        <div class="nav-wrapper left-align">
            <ul id="dropdown1" class="dropdown-content">
              <% if current_user && current_user.executive? %>
                <li><%= link_to "部下一覧", subordinate_index_user_path(current_user.id) %></li>
                <li><%= link_to "登録情報編集", edit_user_path(current_user.id) %></li>

              <% elsif current_user && current_user.manager? %>

                <li><%= link_to "部下一覧", subordinate_index_user_path(current_user.id) %></li>
                <li><%= link_to "登録情報編集", edit_user_path(current_user.id) %></li>

              <% elsif current_user && current_user.admin? %>

                <li><%= link_to "ユーザー登録", new_user_path %></li>
                <li><%= link_to "登録情報編集", edit_user_path(current_user.id) %></li>
                <li><%= link_to "質問項目登録", new_question_path %></li>
                <li><%= link_to "質問項目一覧", questions_path %></li>

              <% elsif current_user && current_user.nomal?%>
              <li><%= link_to "登録情報編集", edit_user_path(current_user.id) %></li>
              <% end %>

            </ul>

            <a href="<%= users_path %>" class="brand-logo left-logo ">Fukuei</a>
            <ul class="right ">
            <% if current_user %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">メニュー<i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
            <% if current_user %>
              <li><%= link_to "ログアウト", :logout , method: :post %></li>
            <% else %>
              <li><%= link_to "ログイン", :login , method: :get %></li>
            <% end %>
            </ul>
        </div>
      </nav>
    </header>
    <div class="container browser-default">
      <% if notice %>
        <p id="notice"><%= flash[:notice]%></p>
      <% elsif alert %>
        <p id="alert"><%= flash[:alert]%></p>
      <% end %>
  </div>
  <%= yield %>
</body>
</html>
