<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fukuei-Personnel evaluation program-</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGjDT8Us6vibhEvOAz0HQg2K5WfDS1JRg"></script>
  </head>

  <body>
      <header>
        <% unless controller.controller_name == "roots" && controller.action_name == "index" %>
        <nav>
          <div class="left-align">
            <ul id="dropdown1" class="dropdown-content">
              <% if current_user && current_user.executive? %>
                <li><%= link_to "部下一覧", subordinate_index_user_path(current_user.id) %></li>
                  <li><%= link_to '自己評価', "/answers/new/#{current_user.id}" %></li>
                <% if current_user.answered_answer.present? %>
                  <li><%= link_to "評価閲覧", mypage_user_path(current_user)%></li>
                <% end %>

              <% elsif current_user && current_user.manager? %>
                <li><%= link_to "部下一覧", subordinate_index_user_path(current_user) %></li>
                  <li><%= link_to '自己評価', "/answers/new/#{current_user.id}" %></li>
                <% if current_user.answered_answer.present? %>
                  <li><%= link_to "評価閲覧", mypage_user_path(current_user)%></li>
                <% end %>

              <% elsif current_user && current_user.admin? %>
                <li><%= link_to "ユーザー登録", new_user_path %></li>
                <li><%= link_to "質問項目登録", new_question_path %></li>
                <li><%= link_to "質問項目一覧", questions_path %></li>
                <li><%= link_to "評価閲覧", mypage_user_path(current_user)%></li>

              <% elsif current_user && current_user.nomal? %>
                  <li><%= link_to '自己評価', "/answers/new/#{current_user.id}" %></li>
                <% if current_user.answering_answers.present? %>
                  <li><%= link_to "評価閲覧", user_path(current_user)%></li>
                <% end %>
              <% end %>

            </ul>

                <a href="<%= users_path %>" class="brand-logo left-logo left-align">Fukuei</a>

              <ul class="right">
                <% if current_user %>
                   <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">menu</i></a></li>
                <% end %>
                <% if current_user %>
                  <li><%= link_to "ログアウト", :logout , method: :post %></li>
                  <li><%= link_to "#{current_user.name}", edit_user_path(current_user) %></li>
                <% end %>
              </ul>
          </div>
        </nav>
        <% end %>
      </header>
      <div class="contents">
        <% unless controller.controller_name == "roots" && controller.action_name == "index" %>
          <div class="container browser-default">
        <% end %>
        <% unless controller.controller_name == "roots" && controller.action_name == "index" %>
          <div class="flash_message center-align  z-depth-1">
          <% if notice %>
            <p id="notice"><%= flash[:notice]%></p>
          <% elsif alert %>
            <p id="alert"><%= flash[:alert]%></p>
        <% end %>
          </div>
        <% end %>
        <%= yield %>
          </div>
      </div>
      <footer class="page-footer">
        © 2018 Copyright K.yuki All Rights Reserved.
      </footer>
  </body>
</html>
