<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>pep.test</title>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<!-- mediaオプション（関連ファイルの出力メディアのリンクタイプ）をallで指定 -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
  </head>


<body>
    <nav>
      <div class="nav-wrapper">
        <!-- <div id="nav"> -->
          <a href="<%= root_path %>" class="brand-logo">福栄肥料株式会社</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

            <% if current_user %>
            <!-- ユーザーがログイン状態だったら？ -->
             <li><%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %></li>


              <li><%= link_to "ログアウト", :logout , method: :destroy %></li>


            <% else %>


              <li><%= link_to "新規登録", new_user_path %></li>


              <li><%= link_to "ログイン", :login %></li>

            <% end %>
            </ul>


        </div>
    </nav>

      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>



        <%= yield %>


</body>
</html>
