<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Fukuei-Personnel evaluation program-</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>


<body>
  <header>
    <nav>
      <div class="nav-wrapper">
          <a href="<%= users_path %>" class="brand-logo">Fukuei</a>
          <ul id="nav-mobile" class="right">
            <% if current_user && current_user.executive? %>
              <li><%= link_to "部下一覧", subordinate_index_user_path(current_user.id) %></li>
              <li><%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", :logout , method: :post %></li>

            <% elsif current_user && current_user.manager? %>

              <li><%= link_to "部下一覧", subordinate_index_user_path(current_user.id) %></li>
              <li><%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", :logout , method: :post %></li>

            <% elsif current_user && current_user.admin? %>

              <li><%= link_to "ユーザー登録", new_user_path %></li>
              <li><%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", :logout , method: :post %></li>

            <% elsif current_user && current_user.nomal?%>
            <li><%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", :logout , method: :post %></li>

            <% else %>
              <li><%= link_to "ログイン", :login %></li>

            <% end %>

          </ul>
      </div>
    </nav>
  </header>

<div class="container">
  <!-- <div class="flash-message">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </div> -->


  <% if notice %>
    <p id="notice"><%= flash[:notice]%></p>
  <% elsif alert %>
    <p id="alert"><%= flash[:alert]%></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
